<table class="hovered">
    <thead>
    <tr>
        <th>Add New Note</th>
    </tr>
    </thead>
    <tr>
        <td>
            <h3>Header</h3>
        <td>
            <div class="input-control text span3">
                <input type="text" class="with-helper" id="noteHeader"/>
                <button class="helper"></button>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <h3>Description</h3>
        </td>
        <td>
            <div class="input-control text span3">
                <input type="text" class="with-helper" id="noteDescription"/>
                <button class="helper"></button>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <input type="button" value="Add" class="add" />
            <input type="button" value="Cancel" class="cancel" />
        </td>
        <td>
            <div class="error">

            </div>
        </td>
    </tr>
</table>